:root {
    --cool-gray: #7D84B2;
    --vista-blue: #8E9DCC;
    --lavender: #d9dbf1;
    --ivory: #f9f9ed;
    --light-green: #DBF4A7;
  }

.contact {
    background-color: white;
    padding: 20px;
}

.contact .flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-titles {
    font-size: 32px;
    font-weight: bold;
    color: var(--cool-gray);
    margin-bottom: 20px;
    border-bottom: 2px solid darkblue;
    padding-bottom: 10px;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
}

.contact-info div {
    padding: 20px;
    background-color: var(--cool-gray);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--light-green);
}

.contact-info p {
    margin-top: 10px;
    color: var(--lavender);
}

.contact-info address {
    margin-top: 20px;
    color: var(--lavender);
}

.contact-info strong {
    font-weight: bold;
    color: darkblue;
}

.form label {
    display: block;
    font-weight: bold;
    color: darkblue;
    margin-bottom: 10px;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid darkblue;
    margin-bottom: 20px;
}

.form button {
    background-color: var(--light-green);
    color: var(--vista-blue);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.error-text {
    color: #ff0000;
    margin-top: 10px;
}