:root {
    --cool-gray: #7D84B2;
    --vista-blue: #8E9DCC;
    --lavender: #d9dbf1;
    --ivory: #f9f9ed;
    --light-green: #DBF4A7;
}

footer {
    background-color: var(--light-green);
    padding: 20px;
    text-align: center;
}

footer h2 {
    font-size: 24px;
    font-weight: bold;
    color: var(--cool-gray);
}

footer p {
    margin-top: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    display: inline-block;
    margin: 0 10px;
}

footer ul li.logo {
    font-size: 24px;
    color: var(--cool-gray);
}

footer ul li.logo:hover {
    color: var(--lavender);
}