:root {
  --cool-gray: #7D84B2;
  --vista-blue: #8E9DCC;
  --lavender: #d9dbf1;
  --ivory:#f9f9ed;
  --light-green: #DBF4A7;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  color: var(--light-green);
  border-radius: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: var(--ivory);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: var(--cool-gray);
  padding: 20px;
}

.portfolio-title {
  font-size: 48px;
  font-weight: bold;
  color: var(--lavender);
}
